.navbar {
  background-color: #1e1e2f;
  padding: 15px 40px;
  display: flex;
  gap: 25px;
  align-items: center;
}

.link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  padding-bottom: 5px;
  position: relative;
}

.link:hover {
  color: #00c6ff;
}

.link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #00c6ff;
  left: 0;
  bottom: -4px;
  transition: width 0.3s ease;
}

.link:hover::after {
  width: 100%;
}
